{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static '/images/logo.jpg' %}"/>
    <title>Manant Corp.</title>
    <!-- Webpack rendered CSS -->

    {% render_bundle 'main' 'css' %}
</head>
<body>
    <div id="root"></div>
    <!-- Webpack rendered JS -->
    {% render_bundle 'main' 'js' %}
</body>
</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reactstrap/4.8.0/reactstrap.min.js"></script>
