




.color_1{
	color: #d11b1b;
}

.color_2{
	color: #5d1bd1;
}

.color_3{
	color: #1bbed1;
}

.color_4{
	color: #e26d28;
}
.pad_0{
	padding: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

.registration_form{
	background-color: #f2f2f2;
}


.head_name_local{
	font-size: 36px !important;
	color: #190a9b;
}

.headname_offer{
	font-size: 30px !important;
}

.gggg{
	font-size: 20px;
}

.head_name_ending_text{
	font-size: 32px;
}

.img_class_local{
	padding-top: 9%;
}

.local_up{
	padding-top: 36px !important;
}

.local_up2{
	padding-top: 21px !important;
}

